body{
    background: #1b1b1b;
    margin: 0%;
}

header{
    text-align: center;
    color: white;
    font-size: 30px;
    border-bottom: #858585;
    padding: 0%;
}


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0;
}

.printers_container{
    width: 80%;
    margin: auto;
    display: flex;
    border:1px solid #1b1b1b;
    background: #5e5d5d;
    flex-wrap: wrap;

}

