<html>
    <head>
        <title>Marc's farm</title>
        <!-- <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"> -->
        <link rel="stylesheet" href="styles.css">
    </head>


    <body>
        <header>
            <h1>Welcome to the biggest 3D printer farm of my house</h1>
        </header>
        
        <div class="printers_container">
            <div class="printer">
                <table>
                    <tr><td>Printer name</td></tr>
                    <tr>
                        <td>Date</td>
                        <td>12-04-2022</td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td>22:58</td>
                    </tr>
                    <tr>
                        <td>Temperature ºC</td>
                        <td>Humidity</td>
                    </tr>
                </table>
            </div>
            
        </div>
        
    </body>
</html>