<html>
    <head>
        <title>Marc's farm</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    </head>


    <body>
        <header>
            <h1>Welcome to the biggest 3D printer farm of my house</h1>
        </header>
        
        <div class="printers_container">
            {% for printer_log in printer_log_table%}
            <div>
                <table>
                    <tr><td>Printer {{printer_log.printer_id}}</td></tr>
                    <tr>
                        <td>Date</td>
                        <td>{{printer_log.date}}</td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td>{{printer_log.time}}</td>
                    </tr>
                    <tr>
                        <td>Temperature</td>
                        <td>{{printer_log.temperature}}ºC</td>
                    </tr>
                    <tr>
                        <td>Humidity</td>
                        <td>{{printer_log.humidity}} %</td>
                    </tr>
                </table>
            </div>
            {% endfor%}
            
        </div>
        
    </body>
</html>